@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Inter");
@font-face {
  font-family: "Millik";
  src: url("../public/fonts/Millik/MillikRegular.otf") format("opentype");
}

html,
body {
  scroll-behavior: smooth;
  color: #231f20;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: normal;
}

.bodyCon {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
}

.millik {
  font-family: "Millik";
}

.bgWrap {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
}

.selectedtext {
  color: #3c4043;
}

.gr2auto {
  grid-template-columns: auto auto;
  gap: 10px;
}

input::placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input::-moz-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input:-ms-input-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.nli {
  font-weight: 700;
  letter-spacing: -0.28px;
  font-size: 14px;
}

.search::placeholder {
  color: #919191;
  font-family: Inter;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search::-webkit-input-placeholder {
  color: #919191;
  font-family: Inter;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search::-moz-placeholder {
  color: #919191;
  font-family: Inter;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search:-ms-input-placeholder {
  color: #919191;
  font-family: Inter;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.l-h2 {
  color: #2d2c2c;
  font-family: "millik";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 121.429% */
  letter-spacing: -1.68px;
}

.dunia-gradient {
  background: var(--dunia-gradient, linear-gradient(88deg, #F2665B 0%, #BB9F39 20.31%, #009F00 47.92%, #FFC000 73.46%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#h-ri {
  background: url('../public/images/glasseffect.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.dun10 {
  display: flex;
  overflow: hidden;
}

.dun10 > div:nth-child(1) {
  width: calc(60% - 8px);
  padding-left: 64px;
  padding-bottom: 171px;
  padding-top: 239px;
  border-radius: 30px;
}

.dun10 > div:nth-child(2) {
  background: #009F00;
  z-index: 9999;
  width: 16px;
}

.dun10> div:nth-child(3) {
  width: calc(40% - 8px);
  border-radius: 30px;
}

.dun10 > div:nth-child(1) > p {
  max-width: 647px;
}

.catb > button {
  padding: 10px 21px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.catb-active {
  background: #009f00;
  border-radius: 30px;
  font-weight: 600!important;
  color: white!important;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024x) {
  .bodyCon {
    max-width: 1440px;
  }

}

@media only screen and (min-width: 1400px) {
  .bodyCon {
    padding: 0;
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1900px) {
  #Image-sidebar {
    max-width: 100%;
  }
  #text-sidebar {
    justify-content: center;
  }
  #baxk {
    max-width: 768px;
    width: 100%;
    justify-content: start;
    align-self: center;
  }
}
