@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800,900&display=swap");

@font-face {
  font-family: "Millik";
  src: url("../public/fonts/Millik/MillikRegular.otf") format("opentype");
}

@font-face {
  font-family: "Circular";
  src: url("../public/fonts/circular-std.ttf") format("truetype");
}

html,
body {
  scroll-behavior: smooth;
  color: #231f20;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  line-height: normal;
}

.bodyCon {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
}

.millik {
  font-family: "Millik";
}

.bgWrap {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
}

.selectedtext {
  color: #3c4043;
}

.gr2auto {
  grid-template-columns: auto auto;
  gap: 10px;
}

input::placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input::-webkit-input-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input::-moz-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

input:-ms-input-placeholder {
  color: #808080;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.nli {
  font-weight: 700;
  letter-spacing: -0.28px;
  font-size: 14px;
}

.search::placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search::-webkit-input-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search::-moz-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.search:-ms-input-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe {
  background: rgba(0, 0, 0, 0.05);
  width: 500px;
}

.subscribe::placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe::-webkit-input-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe::-moz-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe:-ms-input-placeholder {
  color: #919191;
  border: none;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.l-h2 {
  color: #2d2c2c;
  font-family: "millik";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 121.429% */
  letter-spacing: -1.68px;
}

.dunia-grd2 {
  background: var(
    --dunia-gradient,
    linear-gradient(88deg, #f2665b 0%, #bb9f39 1%, #009f00 80.92%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "millik";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
}

.dunia-gradient {
  background: var(
    --dunia-gradient,
    linear-gradient(
      88deg,
      #f2665b 0%,
      #bb9f39 20.31%,
      #009f00 47.92%,
      #ffc000 73.46%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 
#h-ri {
  background: url("../public/images/glasseffect.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
} */

.dun10 {
  display: flex;
  overflow: hidden;
}

.dun10 > div:nth-child(1) {
  width: calc(60% - 8px);
  padding-left: 64px;
  padding-bottom: 171px;
  padding-top: 239px;
  border-radius: 30px;
}

.dun10 > div:nth-child(2) {
  background: #009f00;
  z-index: 75;
  width: 16px;
}

.dun10 > div:nth-child(3) {
  width: calc(40% - 8px);
  border-radius: 30px;
}

.dun10 > div:nth-child(1) > p {
  max-width: 647px;
}

.catb > button {
  padding: 10px 21px;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.catb-active {
  background: #009f00;
  border-radius: 30px;
  font-weight: 600 !important;
  color: white !important;
}

.foot-acc-left {
  color: #cffccf;
  font-family: "millik";
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -1.68px;
  max-width: 549px;
  width: 100%;
}

.foot-left > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}

.foot-left > div > h3 {
  font-family: "millik";
  color: #a0f8a0;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.foot-left > div > p {
  color: #e7fde7;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cent-dun {
  left: 50%;
  top: 578px;
  transform: translateX(-50%);
}

.author-pic-bg {
  background: linear-gradient(180deg, rgba(11, 12, 11, 0) 58.83%, #0b0c0b 100%);
}

.arrows {
  border-radius: 27px;
  border: 1.5px solid #009f00;
}

.left-aarow {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.right-aarow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.filter {
  display: grid;
  width: 100%;
  max-width: 256px;
  gap: 13px;
}

.filter > h6 {
  color: #b1b5c3;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.filter > select {
  width: 100%;
  display: block;
  padding: 13.5px 24px 13.5px 14px;
  color: #000;
  outline: none;
  justify-content: flex-end;
  align-items: center;
  gap: 151px;
  border-radius: 12px;
  border: 2px solid #ededed;
  background: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.filter > select:after {
  padding-right: 24px;
}

.filter > select > option {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
}

.comment-input {
  border: 1.5px solid #f2f2f2;
  border-radius: 40px;
  padding-left: 30px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;
  outline: none;
}

.comment-textarea {
  padding: 30px;
  height: 228px;
  border: 1.5px solid #f2f2f2;
  border-radius: 30px;
  width: 100%;
  outline: none;
}

.comment-input::placeholder,
.comment-textarea::placeholder {
  color: #808080;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.48px;
}

.sub2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sub2 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.sub2 > div > span {
  font-weight: 500;
}

.popup > div,
.popup > div > div {
  align-self: start;
}

.popup {
  box-shadow: 0px 40px 40px 0px rgba(0, 0, 0, 0.25);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
  right: 0;
  z-index: 125;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.content {
  color: #344054;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  display: flex;
  padding: 8px 12px;
  align-items: center;
}

.active-c {
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  background: #fef0ef;
}

.content-sub-active {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  font-family: "Circular";
  border-radius: 16px;
  background-color: #fef0ef;
  color: #4e4e4e;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

#right-profile {
  border-radius: 15px;
  background: #fcfcfc;
  padding: 50px 40px;
  width: max-content;
}

#connect {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#account-details h2,
#connect h2 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 88.889% */
}

#FacebookandGoogle {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#FacebookandGoogle > div {
  border-radius: 99px;
  border: 1.5px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 0px 0px 2px #e3e9ed inset;
  display: flex;
  padding: 20px 60px;
  width: 100%;
  gap: 5px;
}

#FacebookandGoogle > div > span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #3c4043;
  line-height: normal;
}

#FacebookandGoogle img {
  flex-shrink: 0;
}

#account-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#account-details > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#account-details input {
  border-radius: 99px;
  border: 1.5px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 0px 0px 2px #e3e9ed inset;
  display: flex;
  width: 389px;
  padding: 20px 35px;
  align-items: center;
  gap: 10px;
  outline: none;
  font-weight: 500;
}

#account-details input::placeholder,
#account-details input::placeholder {
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.detail-cta {
  color: #009f00;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.profile-cta {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  width: 389px;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 999px;
  background: #009f00;
}

#user {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

.shadow-uinfo {
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.ui-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ui-content h5 {
  color: #676767;
  font-family: "Circular";
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 24px;
}

.ui-content > div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ui-content > div > h3 {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
}

.ui-content > div > span {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  border-radius: 16px;
  border: 1.5px solid #009f00;
  color: #000;
  text-align: center;
  font-family: "Circular";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  align-self: center;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024x) {
  .bodyCon {
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1400px) {
  .bodyCon {
    padding: 0;
    max-width: 1440px;
  }
}

@media only screen and (min-width: 1900px) {
  #Image-sidebar {
    max-width: 100%;
  }
  #text-sidebar {
    justify-content: center;
  }
  #baxk {
    max-width: 768px;
    width: 100%;
    justify-content: start;
    align-self: center;
  }
}
